sentinel__detection_projects/day4_regsvr32_soar/logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Microsoft_Sentinel_alert": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "path": "/subscribe"
                },
                "conditions": []
            }
        },
        "actions": {
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@outputs('Compose_1')\n",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "CommandLine": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "Image": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "ParentImage": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "User": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "IntegrityLevel": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "ExtractedIP": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Compose_1": [
                        "Succeeded"
                    ]
                }
            },
            "Compose_1": {
                "type": "Compose",
                "inputs": "@{json(triggerBody()?['ExtendedProperties']?['Custom Details'])}\n",
                "runAfter": {}
            },
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "https://www.virustotal.com/api/v3/ip_addresses/@{body('Parse_JSON')?['ExtractedIP'][0]}",
                    "method": "GET",
                    "headers": {
                        "x-apikey\n": "d9312db77867a4d03abaa708ffe903895031f9358af8cac24483e864649255b6"
                    }
                },
                "runAfter": {
                    "Scope": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_VT_Response": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP')\n",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "data": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "links": {
                                        "type": "object",
                                        "properties": {
                                            "self": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "attributes": {
                                        "type": "object",
                                        "properties": {
                                            "last_https_certificate": {
                                                "type": "object",
                                                "properties": {
                                                    "cert_signature": {
                                                        "type": "object",
                                                        "properties": {
                                                            "signature_algorithm": {
                                                                "type": "string"
                                                            },
                                                            "signature": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "extensions": {
                                                        "type": "object",
                                                        "properties": {
                                                            "key_usage": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "extended_key_usage": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "CA": {
                                                                "type": "boolean"
                                                            },
                                                            "subject_key_identifier": {
                                                                "type": "string"
                                                            },
                                                            "authority_key_identifier": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "keyid": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "ca_information_access": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "OCSP": {
                                                                        "type": "string"
                                                                    },
                                                                    "CA Issuers": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "subject_alternative_name": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "certificate_policies": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "crl_distribution_points": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "1.3.6.1.4.1.11129.2.4.2": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "validity": {
                                                        "type": "object",
                                                        "properties": {
                                                            "not_after": {
                                                                "type": "string"
                                                            },
                                                            "not_before": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "size": {
                                                        "type": "integer"
                                                    },
                                                    "version": {
                                                        "type": "string"
                                                    },
                                                    "public_key": {
                                                        "type": "object",
                                                        "properties": {
                                                            "algorithm": {
                                                                "type": "string"
                                                            },
                                                            "rsa": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "modulus": {
                                                                        "type": "string"
                                                                    },
                                                                    "exponent": {
                                                                        "type": "string"
                                                                    },
                                                                    "key_size": {
                                                                        "type": "integer"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "thumbprint_sha256": {
                                                        "type": "string"
                                                    },
                                                    "thumbprint": {
                                                        "type": "string"
                                                    },
                                                    "serial_number": {
                                                        "type": "string"
                                                    },
                                                    "issuer": {
                                                        "type": "object",
                                                        "properties": {
                                                            "C": {
                                                                "type": "string"
                                                            },
                                                            "O": {
                                                                "type": "string"
                                                            },
                                                            "CN": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "subject": {
                                                        "type": "object",
                                                        "properties": {
                                                            "CN": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "last_https_certificate_date": {
                                                "type": "integer"
                                            },
                                            "last_analysis_date": {
                                                "type": "integer"
                                            },
                                            "network": {
                                                "type": "string"
                                            },
                                            "jarm": {
                                                "type": "string"
                                            },
                                            "last_analysis_stats": {
                                                "type": "object",
                                                "properties": {
                                                    "malicious": {
                                                        "type": "integer"
                                                    },
                                                    "suspicious": {
                                                        "type": "integer"
                                                    },
                                                    "undetected": {
                                                        "type": "integer"
                                                    },
                                                    "harmless": {
                                                        "type": "integer"
                                                    },
                                                    "timeout": {
                                                        "type": "integer"
                                                    }
                                                }
                                            },
                                            "as_owner": {
                                                "type": "string"
                                            },
                                            "reputation": {
                                                "type": "integer"
                                            },
                                            "continent": {
                                                "type": "string"
                                            },
                                            "whois_date": {
                                                "type": "integer"
                                            },
                                            "tags": {
                                                "type": "array"
                                            },
                                            "whois": {
                                                "type": "string"
                                            },
                                            "total_votes": {
                                                "type": "object",
                                                "properties": {
                                                    "harmless": {
                                                        "type": "integer"
                                                    },
                                                    "malicious": {
                                                        "type": "integer"
                                                    }
                                                }
                                            },
                                            "regional_internet_registry": {
                                                "type": "string"
                                            },
                                            "last_analysis_results": {
                                                "type": "object",
                                                "properties": {
                                                    "Acronis": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "0xSI_f33d": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Abusix": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "ADMINUSLabs": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Axur": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Criminal IP": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "AILabs (MONITORAPP)": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "AlienVault": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "alphaMountain.ai": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "AlphaSOC": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Antiy-AVL": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "ArcSight Threat Intelligence": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "AutoShun": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "benkow.cc": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Bfore.Ai PreCrime": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "BitDefender": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Bkav": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Blueliv": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Certego": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Chong Lua Dao": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "CINS Army": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Cluster25": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "CRDF": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "CSIS Security Group": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Snort IP sample list": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "CMC Threat Intelligence": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Cyan": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Cyble": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "CyRadar": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "DNS8": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Dr.Web": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Ermes": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "ESET": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "ESTsecurity": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "EmergingThreats": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Emsisoft": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Forcepoint ThreatSeeker": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Fortinet": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "G-Data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "GCP Abuse Intelligence": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Google Safebrowsing": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "GreenSnow": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Gridinsoft": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Heimdal Security": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Hunt.io Intelligence": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "IPsum": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Juniper Networks": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Kaspersky": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Lionic": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Lumu": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "MalwarePatrol": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "MalwareURL": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Malwared": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Mimecast": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Netcraft": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "OpenPhish": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Phishing Database": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "PhishFort": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "PhishLabs": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Phishtank": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "PREBYTES": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "PrecisionSec": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Quick Heal": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Quttera": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "SafeToOpen": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Sansec eComscan": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Scantitan": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "SCUMWARE.org": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Seclookup": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "SecureBrain": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "SOCRadar": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Sophos": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Spam404": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "StopForumSpam": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Sucuri SiteCheck": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "ThreatHive": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Threatsourcing": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Trustwave": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Underworld": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "URLhaus": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "URLQuery": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Viettel Threat Intelligence": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "VIPRE": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "VX Vault": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "ViriBack": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Webroot": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Yandex Safebrowsing": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "ZeroCERT": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "desenmascara.me": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "malwares.com URL checker": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "securolytics": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "Xcitium Verdict Cloud": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "zvelo": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "ZeroFox": {
                                                        "type": "object",
                                                        "properties": {
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "engine_name": {
                                                                "type": "string"
                                                            },
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "last_modification_date": {
                                                "type": "integer"
                                            },
                                            "country": {
                                                "type": "string"
                                            },
                                            "asn": {
                                                "type": "integer"
                                            },
                                            "crowdsourced_context": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "details": {
                                                            "type": "string"
                                                        },
                                                        "severity": {
                                                            "type": "string"
                                                        },
                                                        "timestamp": {
                                                            "type": "integer"
                                                        },
                                                        "title": {
                                                            "type": "string"
                                                        },
                                                        "source": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "details",
                                                        "severity",
                                                        "timestamp",
                                                        "title",
                                                        "source"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                }
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "or": [
                        {
                            "greater": [
                                "@outputs('Compose')?['malicious']",
                                0
                            ]
                        },
                        {
                            "less": [
                                "@outputs('Compose')?['reputation']",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Send_an_email_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['outlook']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "wbrown482001@gmail.com",
                                "Subject": "[ALERT] Suspicious behaviour Detected | User: @{outputs('User')} Contacted IP: @{outputs('ExtractedIP')}",
                                "Body": "<p class=\"editor-paragraph\">Potential Malicious Use of Regsvr32 detected (T1218.010)<br><br>- User: @{outputs('User')}<br>- Image: @{outputs('Image')}<br>- Parent Image: @{outputs('ParentImage')}<br>- CommandLine: @{outputs('CommandLine')}<br>- Integrity Level: @{outputs('Integrity_level')}<br>- Conatacted IP: @{outputs('ExtractedIP')}<br>- VT Malicious Score: @{outputs('Compose')?['malicious']}<br>- VT Reputation Score: @{outputs('Compose')?['reputation']}<br><br><br>Recommended Actions: Investigate the process and isolate the host if confirmed.</p>",
                                "Importance": "Normal"
                            },
                            "path": "/v2/Mail"
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Send_an_email_(V2)_1": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['outlook']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "wbrown482001@gmail.com",
                                    "Subject": "[INFO] Non malicious use of Regsvr32 activity observed",
                                    "Body": "<p class=\"editor-paragraph\">Regsvr32 was observed contacting an external IP, but no malicious activity was reported by VirusTotal.<br><br>- User: @{outputs('User')}<br>- Image: @{outputs('Image')}<br>- Parent Image: @{outputs('ParentImage')}<br>- Command Line: @{outputs('CommandLine')}<br>- Integrity Level: @{outputs('Integrity_level')}<br>- Contacted IP: @{outputs('ExtractedIP')}<br>- VT Malicious Score: @{outputs('Compose')?['malicious']}<br>- VT Reputation Score: @{outputs('Compose')?['reputation']}<br><br>Action: No immediate response required. Log retained for visibility.</p>",
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                }
            },
            "Compose": {
                "type": "Compose",
                "inputs": "@json(concat('{\"malicious\":', string(body('Parse_VT_Response')?['data']['attributes']['last_analysis_stats']['malicious']), ',\"reputation\":', string(body('Parse_VT_Response')?['data']['attributes']['reputation']), '}'))\r\n",
                "runAfter": {
                    "Parse_VT_Response": [
                        "Succeeded"
                    ]
                }
            },
            "Scope": {
                "type": "Scope",
                "actions": {
                    "CommandLine": {
                        "type": "Compose",
                        "inputs": "@body('Parse_JSON')?['CommandLine'][0]\r\n"
                    },
                    "User": {
                        "type": "Compose",
                        "inputs": "@body('Parse_JSON')?['User'][0]\r\n",
                        "runAfter": {
                            "CommandLine": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Image": {
                        "type": "Compose",
                        "inputs": "@body('Parse_JSON')?['Image'][0]\r\n",
                        "runAfter": {
                            "User": [
                                "Succeeded"
                            ]
                        }
                    },
                    "ParentImage": {
                        "type": "Compose",
                        "inputs": "@body('Parse_JSON')?['ParentImage'][0]\r\n",
                        "runAfter": {
                            "Image": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Integrity_level": {
                        "type": "Compose",
                        "inputs": "@body('Parse_JSON')?['IntegrityLevel'][0]",
                        "runAfter": {
                            "ParentImage": [
                                "Succeeded"
                            ]
                        }
                    },
                    "ExtractedIP": {
                        "type": "Compose",
                        "inputs": "@body('Parse_JSON')?['ExtractedIP'][0]",
                        "runAfter": {
                            "Integrity_level": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuresentinel-1": {
                    "id": "/subscriptions/4f7f2c5b-b723-4005-937f-e21d0c8a6c88/providers/Microsoft.Web/locations/ukwest/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/4f7f2c5b-b723-4005-937f-e21d0c8a6c88/resourceGroups/sentinel-lab-rg/providers/Microsoft.Web/connections/azuresentinel-1",
                    "connectionName": "azuresentinel-1"
                },
                "outlook": {
                    "id": "/subscriptions/4f7f2c5b-b723-4005-937f-e21d0c8a6c88/providers/Microsoft.Web/locations/ukwest/managedApis/outlook",
                    "connectionId": "/subscriptions/4f7f2c5b-b723-4005-937f-e21d0c8a6c88/resourceGroups/sentinel-lab-rg/providers/Microsoft.Web/connections/outlook",
                    "connectionName": "outlook"
                }
            }
        }
    }
}
